.lead img{
    width: 100%;
    padding-right: 10px;
}
.img-news{
text-align: center;
max-height: 400px;
margin-top: 30px;
}
.img-news-view{
text-align: center;
max-height: 400px;
margin-top: 30px;
margin-right: 20px;
}
.img-admin-index{
    text-align: center;
    max-height: 400px;
    margin-top: 30px;
}
