@charset "UTF-8";
/*BASE - Base styles, variables, mixins, etc*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/* line 1, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/base/_text.scss */
.lead {
  margin: 1%;
}

/*Отступ после слайдера*/
/* line 5, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/base/_text.scss */
.main {
  margin-top: 70px;
}

/*Mixins*/
/* line 1, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/base/_normalize.scss */
.text-indent {
  text-indent: 20px;
}

/* line 4, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/base/_normalize.scss */
.avatar {
  width: 140px;
}

/* line 1, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/base/_hightext.scss */
.lead h1, h2, h4, h5, h6 {
  color: #286090;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

/*LAYOUTS - Page layout styles*/
/*Navbar*/
/* line 2, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_nav.scss */
.navbar {
  width: 100%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}

/* line 10, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_nav.scss */
.navbar a {
  color: #4169E0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 18, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #4169E0 !important;
  color: #fff !important;
}

/* line 22, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_nav.scss */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background: #fff !important;
  color: #4169E0 !important;
}

/* line 26, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_nav.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background: #4169E0;
  color: #ffffff;
}

/*Footer*/
/* line 2, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_footer.scss */
.footer-main {
  background: #333333;
  color: #ffffff;
  border-top: 5px solid #7fba00;
  padding: 30px 15px 10px 15px;
  z-index: 100;
  text-align: left;
  margin-top: 20px;
}

/* line 8, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}

@media (max-width: 991px) {
  /* line 2, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-header {
    float: none;
  }
  /* line 5, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-toggle {
    display: block;
  }
  /* line 8, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /* line 12, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 15, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  /* line 19, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-nav > li {
    float: none;
  }
  /* line 22, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 26, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  /* line 31, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  /* line 34, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/layouts/_mobile.scss */
  .collapsing {
    overflow: hidden !important;
  }
}

/*Модули (каруселька, табы и тд)*/
/*Каруселька*/
/* line 2, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel .carousel-inner .item {
  padding-top: 100px;
  height: 53vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 9, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel .carousel-inner .item-1 {
  background-image: url(/img/price.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

/* line 14, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel .carousel-inner .item-2 {
  background-image: url(/img/map.png);
  padding: 3px;
  border: 3px solid #cccccc;
}

/* line 19, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel .carousel-inner .item-3 {
  background-image: url(/img/new.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

/* line 24, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel .carousel-inner .item-4 {
  background-image: url(/img/news.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

/* line 29, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
.carousel-caption {
  background: rgba(0, 0, 0, 0.65);
}

/* line 32, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
td {
  vertical-align: middle;
  text-align: center;
}

/* line 36, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_components.scss */
th {
  vertical-align: middle;
  text-align: center;
}

/*Blocks*/
/* line 2, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}

/* line 5, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 9, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block iframe, .block-primary iframe, .block-secondary iframe, .block-light iframe, .block-dark iframe {
  width: 100%;
}

/* line 13, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-primary {
  background: #4169E0;
  color: #ffffff;
}

/* line 17, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 21, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666666;
}

/* line 25, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-dark {
  background: #333333;
  color: #ffffff;
}

/* line 29, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* line 32, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-image img {
  width: 100%;
}

/* line 37, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-border {
  border: 1px solid #cccccc;
}

/* line 41, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #4169E0;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
}

/* line 47, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-primary-head .block-content {
  border: 1px solid #4169E0;
  padding: 10px;
}

/* line 53, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-icon h3 {
  padding: 0;
  margin: 0;
}

/* line 57, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px;
}

/* line 62, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-icon .icon-content {
  float: left;
  width: 70%;
}

/* line 67, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-border {
  border: 3px solid #cccccc;
  margin-bottom: 10px;
}

/* line 71, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-news-footer {
  background: #f0f3fd;
  color: #ffffff;
  border-top: 1px solid #cccccc;
  padding: 30px 15px 10px 15px;
  text-align: left;
  margin-top: 20px;
}

/* line 76, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-news-footer p {
  color: #333333;
}

/* line 79, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-news-footer a {
  color: #4169E0;
}

/* line 83, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-news-footer button {
  margin-bottom: 10px;
}

/* line 86, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-news-footer .block-href-news a {
  color: #4169E0;
}

/* line 88, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.recomendation-block {
  justify-content: center;
  /*центрируем элемент по горизонтали */
  align-items: center;
  /* и вертикали */
  width: auto;
  /* задали размеры блоку-родителю */
  height: 200px;
  overflow: hidden;
  /* если элемент больше блока-родителя – обрезаем лишнее */
  padding: 30px 15px 350px 15px;
  z-index: 100;
  text-align: left;
  margin: auto;
}

/* line 98, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.recomendation-block iframe {
  width: auto;
}

/*Фиксациая слева*/
/* line 103, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.fixed {
  position: fixed;
}

/* line 106, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.block-vk {
  margin-top: 3%;
}

/* line 110, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_blocks.scss */
.tr-click:hover {
  cursor: pointer;
}

/* line 1, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_img.scss */
.lead img {
  width: 100%;
  padding-right: 10px;
}

/* line 5, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_img.scss */
.img-news {
  text-align: center;
  max-height: 400px;
  margin-top: 10px;
}

/* line 10, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_img.scss */
.img-news-view {
  text-align: center;
  max-height: 400px;
  margin-top: auto;
  margin-right: 20px;
}

/* line 16, /home/dekantis/projects/vz.local-yii2/frontend/resources/scss/models/_img.scss */
.img-admin-index {
  text-align: center;
  max-height: 400px;
  margin-top: 30px;
}

/*# sourceMappingURL=../css/main.map */