@charset "UTF-8";
/*BASE - Base styles, variables, mixins, etc*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.lead {
  padding: 2%;
}

/*Mixins*/
.text-indent {
  text-indent: 20px;
}
.text-indent p {
  text-align: justify;
}

.avatar {
  width: 140px;
}

.lead h1, h2, h4, h5, h6 {
  color: #286090;
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

/*LAYOUTS - Page layout styles*/
/*Navbar*/
.navbar {
  width: 100%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
.navbar a {
  color: #4169E0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}
.navbar li.active a {
  color: #e4eef2 !important;
}
.navbar .navbar-collapse {
  justify-content: right;
}
.navbar .nav-item {
  border: 1px solid #eeeeee;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #4169E0 !important;
  color: #fff !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background: #fff !important;
  color: #4169E0 !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background: #4169E0;
  color: #ffffff;
}

/*Footer*/
.footer-main {
  background: #333333;
  color: #ffffff;
  border-top: 5px solid #7fba00;
  padding: 30px 15px 10px 15px;
  z-index: 100;
  text-align: left;
  margin-top: 20px;
}
.footer-main a {
  color: #ffffff;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav li {
    float: none;
  }
  .navbar-nav li a {
    padding: 10px 15px;
  }
  .navbar-nav li:last-child {
    text-align: right;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.show {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
@media (min-width: 992px) {
  .nav-item:first-child {
    border-top-left-radius: 2em 2em;
    border-bottom-left-radius: 2em 2em;
  }
  .nav-item:last-child {
    border-top-right-radius: 2em 2em;
    border-bottom-right-radius: 2em 2em;
  }
}
/*Модули (каруселька, табы и тд)*/
/*Каруселька*/
.carousel .carousel-inner .carousel-item {
  height: 53vh;
  padding-top: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel .carousel-inner .item-1 {
  background-image: url(/img/price.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

.carousel .carousel-inner .item-2 {
  background-image: url(/img/map.png);
  padding: 3px;
  border: 3px solid #cccccc;
}

.carousel .carousel-inner .item-3 {
  background-image: url(/img/news.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

.carousel .carousel-inner .item-4 {
  background-image: url(/img/new.jpg);
  padding: 3px;
  border: 3px solid #cccccc;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.65);
}
.carousel-caption h5 {
  color: #3595e8;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  vertical-align: middle;
  text-align: center;
}

/*Blocks*/
.block-border {
  border: 2px solid #4169E0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 11px 9px 36px -5px rgba(153, 144, 153, 0.84);
  -moz-box-shadow: 11px 9px 36px -5px rgba(153, 144, 153, 0.84);
  box-shadow: 11px 9px 36px -5px rgba(153, 144, 153, 0.84);
}

.block, .block-dark, .block-light, .block-secondary, .block-primary {
  padding: 15px;
  margin-bottom: 15px;
}
.block h3, .block-dark h3, .block-light h3, .block-secondary h3, .block-primary h3 {
  margin-top: 0;
  padding-top: 0;
}
.block iframe, .block-dark iframe, .block-light iframe, .block-secondary iframe, .block-primary iframe {
  width: 100%;
}

.block-primary {
  background: #4169E0;
  color: #ffffff;
}

.block-secondary {
  background: #7fba00;
  color: #ffffff;
}

.block-light {
  background: #e4eef2;
  color: #666666;
}

.block-dark {
  background: #333333;
  color: #ffffff;
}

.block-center {
  text-align: center !important;
}

.block-image img {
  width: 100%;
}

.block-border {
  border: 1px solid #cccccc;
}

.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #4169E0;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
}
.block-primary-head .block-content {
  border: 1px solid #4169E0;
  padding: 10px;
}

.block-icon h3 {
  padding: 0;
  margin: 0;
}
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px;
}
.block-icon .icon-content {
  float: left;
  width: 70%;
}

.block-border {
  border: 3px solid #cccccc;
  margin-bottom: 10px;
}

.block-news-footer {
  background: #f0f3fd;
  color: #ffffff;
  border-top: 1px solid #cccccc;
  padding: 30px 15px 10px 15px;
  text-align: left;
  margin-top: 20px;
}
.block-news-footer p {
  color: #333333;
}
.block-news-footer a {
  color: #4169E0;
}
.block-news-footer button {
  margin-bottom: 10px;
}
.block-news-footer .block-href-news a {
  color: #4169E0;
}

.recomendation-block {
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  width: auto; /* задали размеры блоку-родителю */
  height: 200px;
  overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
  padding: 30px 15px 350px 15px;
  z-index: 100;
  text-align: left;
  margin: auto;
}
.recomendation-block iframe {
  width: auto;
}

/*Фиксациая слева*/
.fixed {
  position: fixed;
}

.block-vk {
  margin-top: 3%;
}

.tr-click:hover {
  cursor: pointer;
}

.lead img {
  width: 100%;
}

.img-news {
  text-align: center;
  max-height: 600px;
  margin-top: 10px;
  overflow-y: hidden;
}

.img-admin-index {
  text-align: center;
  max-height: 400px;
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
